.contact-card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    box-shadow: -21px 4px 73px 0 rgba(0, 0, 0, 0.096);
    border-radius: 20px;
    padding-bottom: 15px;
    min-height: 350px;
    justify-content: space-evenly;
}
.contact-card-top{
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.contact-card-center{
    padding: 15px;
}
@media screen and (max-width:768px){
    .contact-card{
        margin: auto;
        margin-top: 15px;
    }
}