.main{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex: 9;
}
.dashmainbtn{
    margin-top: 5%;
}
.main-right-col{
    flex: 1;
}
.main-left-col{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-left-col-row{
    
    display: flex;
    flex-direction: row;
}
.main-left-col-adver{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    max-width: 650px;
}
.main-left-col-adver-heading{
    font-size: 32px;
}
.main-left-col-adver-para{
    font-size: 24px;
}
@media screen and (max-width:425px){
    .main{
        margin-left: 5px;
        flex-direction: column;
    }
    .main-left-col{
        flex: 1;
    }
    .main-left-col-row{
        flex-direction: column;
    }
    .main-left-col-adver{
        display: none;
    }
}

@media screen and (min-width:425px)and (max-width:768px){
    .main-left-col-row{
        flex-direction: column;
    }
    .main-left-col-adver{
        display: none;
    }
}
