.sidemenu{
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    flex: 1;
    justify-content: space-evenly;
 }
 .sidemenu-item-logo{
    color: #4267B2;
    font-size: 45px;
 }
.sidemenu-item{
    padding: 15px;
    flex: 1;
}
.sidemenu-list{
    display: flex;
    flex-direction: column;
}
.sidemenu-list-item-text{
    font-size: 26px;
}
.sidemenu-list-item-img{
    width: 50px;
    background-color: #f1f1fd;
    padding: 15px;
    fill: black;
    border-radius: 15px;
}
.sidemenu-list-item-active{
    background-color: #4267B2;
    fill: white;
}

.sidemenu-list-item{
    margin: auto;
}
@media screen and (max-width:768px){
    .sidemenu-item-logo{
        font-size: 35px;
    }
    .sidemenu-list-item-text{
        font-size: 17px;
    }
    .sidemenu-list{
        flex-direction: row;
    }
    .sidemenu-list-item-img{
        width: 15px;
        padding: 15px;

    }
}