
.leder-search {
    padding: 5px;
    width: 320px;
    margin-left: 5px;
}
.ledger-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen  and (max-width:768px) {
    
.leder-search {
    padding: 5px;
    width: 170px;
}
}

@media screen  and (max-width:425px) {
    
    .leder-search {
        padding: 5px;
        width: 250px;
        margin-left:0px;
    }
    .ledger-row{
        margin: auto;
    flex-direction: column;
    }
    }