.resetpassword-screen{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
    margin: auto;
    box-shadow: 0px 0px 10px 5px rgb(243, 243, 243);
    margin-top: 250px;
    border-radius: 5px;
    margin-bottom: 250px;
}
@media screen and (max-width : 425px) {
    .resetpassword-screen{
        width: 250px;
    }
}