.checkerlang{
    margin: 15px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #43629c;
    color: white;

}
.checkerlang > option{
    background-color: white;
    color:black;
    outline: none;
    border-radius: 15px;
    border: none;
}
.checker{
    padding: 15px;
    max-height: 1000px;
    overflow-y: scroll;  
    margin: auto;
}
.checker::-webkit-scrollbar {
    display: none;
}
.check-contaier{
    padding: 15px;
    margin: 55px;
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 35px 5px rgb(241, 241, 241);     
}

.checker-input{
    padding: 10px;
    width:90%;
    height: 150px;
    margin: auto;
      border: none;
      outline: none;
      color: black;
      margin-bottom: 30px;
      box-shadow: 0px 0px 35px 5px rgb(241, 241, 241);     

      
}
.btn-checker{
    width: 150px;
    margin: auto;
}
.checker-col {
    display: flex;
    flex-direction: column-reverse;
}

.btn{
    cursor: pointer;
    transition: all 0.25s;
    background-color: #43629c;
}
.btn:hover {
 padding: 12px;
}

@media screen and (max-width:425px) {
    .check-contaier{
       width: 270px;
       min-height: 100px;
    }
    .checker-input{
        padding: 10px;
        width:75%;
        border: none;
        outline: none;
        box-shadow: 0px 0px 35px 5px rgb(241, 241, 241);     
        color: black;
    }
    .checker-row{
        display: flex;
        flex-direction: row;
    }


    .checker{
        padding: 0;
    }
}