
.dashboard{
    display: flex;
    flex-direction: column;
}
.DashboardRow{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:768px){
    .DashboardRow{
        flex-direction: column;
    }
}