.MainContentDashBoard{
    padding: 25px;
    margin: auto;
}
.MainContentDashBoard-top-row{
     padding: 15px;
     width: 850px;
     display: flex;
     flex-direction: row;
}
.Histroy{
  display: flex;
  flex-direction: row;
}
.dashbox{
  height: 300px;
  width: 250px;
  padding: 15px;
  text-align: center;
  background-color: white;
  margin: auto;
  margin: 15px;
  box-shadow: 0px 0px 35px 5px rgb(241, 241, 241);     

}

.dsahfullbox{
  height: 550px;
  width: 550px;
  padding: 15px;
  text-align: center;
  background-color: white;
  margin: auto;
  margin: 15px;
  box-shadow: 0px 0px 35px 5px rgb(241, 241, 241);     

}

.MainContentDashBoard-top-row{
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width:768px){
  .MainContentDashBoard-top-row{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
        .dsahfullbox{
          width: 70%;
          display: none;
        }
        .dashbox{
          width: 50%;
        }
      
    }

  @media screen and (max-width:425px){
.MainContentDashBoard-top-row{
  width: 270px;
  flex-direction: row;
  justify-content: space-around;
}
      .dsahfullbox{
        width: 270px;
        display: none;
      }
      .dashbox{
        width: 270px;
        padding: 0;
      }
      .MainContentDashBoard{
        padding: 5px;
        width: 100%;
      }
  }


