.MainContentDashBoard{
    padding: 25px;
    margin: auto;
}
.MainContentDashBoard-top-row{
     padding: 15px;
     width: 850px;
     display: flex;
     flex-direction: row;
}
.Histroy{
  display: flex;
  flex-direction: row;
}
.dashbox{
  height: 300px;
  width: 250px;
  padding: 15px;
  text-align: center;
  background-color: white;
  margin: auto;
  margin: 15px;
}

.dsahfullbox{
  height: 550px;
  width: 550px;
  padding: 15px;
  text-align: center;
  background-color: white;
  margin: auto;
  margin: 15px;
}

  @media screen and (max-width:425px){
.MainContentDashBoard-top-row{
  width: 270px;
  flex-direction: row;
  justify-content: space-around;
}
      .dsahfullbox{
        width: 270px;
        display: none;
      }
      .dashbox{
        width: 270px;
      }
  }